body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 322px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

picture {
    display: flex;
}

.hero {
    display:flex;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    padding: 43px 40px;
    border-bottom: 5px dotted #FFBF25;
    margin-bottom: 5px;
    overflow: hidden;
}

.hero .content::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, rgba(44, 28, 0, 0.8) 0%, rgba(44, 28, 0, 0) 70%);
    height: 200%;
    width: 150%;
    pointer-events: none;
    position: absolute;
    bottom: 0%;
    left: -20%;
    transform: translate(-20%, 30%);
    z-index: -1;
}


.hero .content {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

.content > * {
    flex: 1 1 100%;
}

.content > h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
}

.content > span {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.content > p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.content > a {
    color: #FFFFFF;
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    text-decoration: none; 
}

.fa-angles-right {
    color: #2877F7;
    margin-left: 5px;
}


@media (max-width:776px) {

    .hero {
        padding: 27px 20px;
        border-width: 5px;
        margin-bottom: 5px;
    }

    .container {
        min-height: 322px;
    }
    
    .content > span {
        font-size: 12px;
    }
    
    .content > h1 {
        font-size: 22px;
        line-height: 22px;
    }

    .content > p {
        font-size: 14px;
        line-height: 14px;
    }
    
    
    .content > a {
        font-size: 13px;
        line-height: 20px;
    }
}

