body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



body > *{
    max-width: calc(1440px - 280px);
}

h1, p {
    margin: 0 0;
}

header {
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid #E8E8E8;
    padding-block: 10px;
    margin: 0 140px;
}


.card > label::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, rgba(44, 28, 0, 0.2) 0%, rgba(44, 28, 0, 0) 70%);
    height: 430%;
    width: 250%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container { 
    margin: 80px 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card > label {
    color: #fff;
    position: absolute;
    margin: 30px;
    font-size: 11px;
    font-weight: 700;
    z-index: 2;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 40px 0px;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a {
    margin: 15px -10px 0;
    padding-inline: 30px;
    padding-block: 10px;
    align-self: flex-start;
    border: 3px solid #2877F7;
    border-radius: 30px;
    color: #0F69DC;
    background-color: #fff;
    font-weight: 800;
    font-size: 14px;
}

.content > span {
    font-size: 12px;
    font-weight: 700;
}

@media (max-width:1440px) {
    body > *{
        max-width: calc(100% - 280px);
    }
}

@media (max-width:700px) {
    body > *{
        max-width: calc(100% - 40px);
    }

    header {
        margin: 20px;
    }

    .card > label {
        margin: 20px;
    }

    .container{
        margin: 30px 20px;
    }

    .card {
        width: 100%;
        flex: 1 1 100%;
        margin-bottom: 40px;
    }

    .content {
        margin: 10px;
    }
 
    a {
        margin: 0 10px;
    }
}