body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1, p {
    margin: 0 0;
}

header {
    font-weight: 700;
    color: #484848;
    border-bottom: 1px solid #3D545A33;
    padding-block: 21px;
    margin: 0 140px;
    width: calc(100% - 280px);
}
/* 1910 */
.container {
    position: relative;
    margin: 80px 30px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    max-width: 1440px;
}

.card {
    display: flex;
    position: relative;
    max-width: 322.5px;
    flex: 1 1 calc(25% - 30px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100% / 60%;
    overflow: hidden;
}


.card > a {
    width: 100%;  
    /* text-shadow: 1px 1px 5px rgba(44, 28, 0, 0.5); */
    text-decoration: none;
    position: absolute;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 900;
    z-index: 10;
}


.card > a::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, rgba(44, 28, 0, 0.5) 0%, rgba(44, 28, 0, 0) 70%);
    height: 250%;
    width: 150%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 640px) {
    .card:nth-of-type(4)::before {
        content: "";
        background: url("Vector.png") no-repeat bottom / contain;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}



@media (min-width: 1440px) {
    .container {
        margin: 80px 0px;
        justify-content: space-evenly;
    }
}



@media (max-width:640px) {
    
    header {
        font-size: 14px;
        padding-block: 15px;
        margin: 0 20px;
        width: calc(100% - 38px);
    }

    .container {
        margin: 30px 19px;
    }

    .card {
        max-width: 100%;
        flex: 1 1 100%;
        border-radius: 60% / 100%;
    }

    .card > a {
        font-size: 26px;
        font-weight: 900;
    }
    

}